<%= form_for @booking, method: 'post', local: true do |f| %>
  <div class="flight-data-container">
    <div class="flight-id">
      <p>Flight ID: <%= @flight.id %></p>
      <%= f.hidden_field :flight_id %>
    </div>
    <div class="flight-passengers">
      <p>Number of Passengers: <%= @passengers.count %></p>
    </div>
    <div class="flight-date">
      <p>Flight Date: <%= @flight.start_date %></p>
    </div>
    <div class="flight-airports">
      <p>Starting Airport: <%= @flight.from_airport.code %></p>
      <p>Destination Airport: <%= @flight.to_airport.code %></p>
    </div>
  </div>
    <%= f.fields_for :passengers do |passengers_field| %>
      <%= passengers_field.label :name, 'Name:' %>
      <%= passengers_field.text_field :name %>
      <%= passengers_field.label :email, 'Email:' %>
      <%= passengers_field.text_field :email %>
    <% end %>
  <div class="submit-container">
    <%= f.submit 'Confirm' %>
  </div>
<% end %>
